{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}

{% if is_granted('ROLE_USER') %}
{# {% if app.us('ROLE_USER') %} #}

    <h1>Create new Contact</h1>
    {{ include('contact/_form.html.twig') }}
    <a href="{{ path('app_contact_index') }}">back to list</a>

{% else %}
    <h1>Connectez-vous ou créez vous un compte pour nous écrire</h1>

{% endif %}

{% endblock %}
